.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Environment files
.env
.env.*
!.env.example

# Project setup files
SETUP.md
EX-2.md
EXECUTE.md

# Drizzle ORM
/drizzle/data/
/drizzle/migrations/
/drizzle/seed/
/scripts/
migrations/

#Cloudflare
/.wrangler/

#Vercel
/.vercel/
dist